<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silant Machinery</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="super-header">
            {% block superheader %}
                <div class="header-container">
                    <div class="logo">Logo</div>
                    <div class="contact-info">+7-8352-201-209</div>
                    <div class="login-button"><a href="{% url 'logout' %}">{{ user_name }} / Logout</a></div>
                </div>
            {% endblock %}
            <div class="electronic-service-book">Electronic Service Book "My Silant"</div>
        </div>
    </header>
    <main>
        <div class="main-container">
            {% block content %}
            <div class="main-title">Check the claims for Silant machinery</div>
            <form method="GET" action="{% url 'claims' %}">
                <label>
                    <input type="text" name="serial_number" placeholder="Enter machine serial number">
                </label>
                <button type="submit">Search</button>
            </form>
            <div class="info-text">Information about the claims for your machinery.</div>
            <div class="main-title main-title-search-results">Search Results:</div>
            <div class="search-results">
                <table class="machine-table">
                    <thead>
                        <tr>
                            <th>Failure Date</th>
                            <th>Operating Hours</th>
                            <th>Failure Unit</th>
                            <th>Failure Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if claims %}
                            {% for claim in claims %}
                                <tr onclick="window.location.href='{% url 'claims_detailed' claim.pk %}'">
                                    <td>{{ claim.failure_date }}</td>
                                    <td>{{ claim.operating_hours }}</td>
                                    <td>{{ claim.failure_unit.name }}</td>
                                    <td>{{ claim.failure_description }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" style="text-align: center; color: gray;">No claims found</td>
                            </tr>
                        {% endif %}
                        <tr onclick="window.location.href='{% url 'create_claim' %}'">
                            <td colspan="4" style="text-align: center; color: gray;">Add new claim</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="contact-info">+78352 201209</div>
            <div class="footer-text">My Silant 2022</div>
        </div>
    </footer>
</body>
</html>
