<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silant Machinery</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block header_1 %}
    <header>
        <div class="super-header">
            {% block header_2 %}
                <div class="header-container">
                    <div class="logo">
                        <img id="logo" src="{% static 'logo/Logotype accent RGB 1.jpg' %}" alt="Logo" 
                            data-logged-in-url="{% url 'landing_page_logged_in' %}" 
                            data-logged-out-url="{% url 'landing_page' %}">
                    </div>
                    <input type="hidden" id="is-logged-in" value="{{ user.is_authenticated|yesno:'true,false' }}">
                    <div class="contact-info" id="phone-number">Loading...</div>
                    <div class="login-button"><a href="{% url 'logout' %}">{{ user_name }} / Logout</a></div>
                </div>
            {% endblock %}
            <div class="electronic-service-book">Electronic Service Book "My Silant"</div>
        </div>
    </header>
{% endblock %}
    <main>
        <div class="main-container">
            {% block content %}
            <div class="main-title">Check the claims for Silant machinery</div>
            <form method="GET" action="{% url 'claims' %}">
                <label>
                    <input type="text" name="serial_number" placeholder="Enter machine serial number">
                </label>
                <button type="submit">Search</button>
            </form>
            <div class="info-text">Information about the claims for your machinery.</div>
            <div class="navigation-buttons">
                <div class="general-info">General Information</div>                                   
                <div class="to-button">Technical Maintenance</div>
                <div class="green-button">Claims</div>
            </div>
            <div class="search-results">
                <table class="machine-table">
                    <thead>
                        <tr>
                            <th>Failure Date</th>
                            <th>Operating Hours</th>
                            <th>Failure Unit</th>
                            <th>Failure Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if claims %}
                            {% for claim in claims %}
                                <tr onclick="window.location.href='{% url 'claims_detailed' claim.pk %}'">
                                    <td>{{ claim.failure_date }}</td>
                                    <td>{{ claim.operating_hours }}</td>
                                    <td>{{ claim.failure_unit.name }}</td>
                                    <td>{{ claim.failure_description }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" style="text-align: center; color: gray;">No claims found</td>
                            </tr>
                        {% endif %}
                        <tr onclick="window.location.href='{% url 'create_claim' %}'">
                            <td colspan="4" style="text-align: center; color: gray;">Add new claim</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endblock %}
        </div>
    </main>
{% block footer %}
    <footer>
        <div class="footer-container">
            <div class="contact-info" id="footer-phone-number">Loading...</div>
            <div class="footer-text" id="footer-app-name">Loading...</div>
        </div>
    </footer>
{% endblock %}

</body>
</html>
