{% extends 'landing_page.html' %}
{% load static %}

{% block header_1 %}

    {% block header_2 %}
        <div class="header-container">
            <div class="logo">
                <img id="logo" src="{% static 'logo/Logotype accent RGB 1.jpg' %}" alt="Logo" 
                     data-logged-in-url="{% url 'landing_page_logged_in' %}" 
                     data-logged-out-url="{% url 'landing_page' %}">
            </div>
            <input type="hidden" id="is-logged-in" value="{{ user.is_authenticated|yesno:'true,false' }}">
            <div class="contact-info" id="phone-number">Loading...</div>
            <div class="login-button"><a href="{% url 'logout' %}">{{ user }} / Logout</a></div>
        </div>
    {% endblock %}

{% endblock %}

{% block content %}
    <div class="main-title">Create New Service Record</div>
    <div class="info-text">Fill in the details to create a new service record.</div>
    <div class="create-record">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.machine_serial_number.id_for_label }}" class="form-label">Serial Number</label>
                <div class="form-field">{{ form.machine_serial_number }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.maintenance_type.id_for_label }}" class="form-label">Maintenance Type</label>
                <div class="form-field">{{ form.maintenance_type }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.maintenance_date.id_for_label }}" class="form-label">Maintenance Date</label>
                <div class="form-field">{{ form.maintenance_date }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.order_number.id_for_label }}" class="form-label">Order Number</label>
                <div class="form-field">{{ form.order_number }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.order_date.id_for_label }}" class="form-label">Order Date</label>
                <div class="form-field">{{ form.order_date }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.service_company.id_for_label }}" class="form-label">Service Company</label>
                <div class="form-field">{{ form.service_company }}</div>
            </div>
            <div class="submit-button">
                <button type="submit">Create Record</button>
            </div>
        </form>
    </div>
{% endblock %}
