# create_claim.html

{% extends 'landing_page.html' %}
{% load static %}

{% block header_1 %}
    
    {% block header_2 %}
        <div class="header-container">
                <div class="logo">
                    <img src="../static/logo/Logotype accent RGB 1.jpg" alt="Logo">
                </div>
                <div class="contact-info" id="phone-number">Loading...</div>
            <div class="login-button"><a href="{% url 'logout' %}">{{ user_name }} / Logout</a></div>
        </div>
    {% endblock %}
    
{% endblock %}

{% block content %}
    <div class="main-title">Create New Claim</div>
    <div class="info-text">Fill in the details to create a new claim.</div>
    <div class="create-record">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Record</button>
        </form>
    </div>
{% endblock %}

{% block my_script %}
    <script src="{% static 'JS/dynamic_content.js' %}"></script>
{% endblock %}
