{% extends 'landing_page.html' %}
{% load static %}

{% block header_1 %}

    {% block header_2 %}
        <div class="header-container">
            <div class="logo">
                <img id="logo" src="{% static 'logo/Logotype accent RGB 1.jpg' %}" alt="Logo" 
                     data-logged-in-url="{% url 'landing_page_logged_in' %}" 
                     data-logged-out-url="{% url 'landing_page' %}">
                </div>
            <input type="hidden" id="is-logged-in" value="{{ user.is_authenticated|yesno:'true,false' }}">
            <div class="contact-info" id="phone-number">Loading...</div>
            <div class="login-button"><a href="{% url 'logout' %}">{{ user_name }} / Logout</a></div>
        </div>
    {% endblock %}

{% endblock %}

{% block content %}
    <div class="main-title">Edit Claim</div>
    <div class="info-text">Edit the details of the claim.</div>
    <div class="edit-record">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.failure_date.id_for_label }}" class="form-label">Failure Date</label>
                <div class="form-field">
                    {{ form.failure_date }}
                    {{ form.failure_date.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.operating_hours.id_for_label }}" class="form-label">Operating Hours</label>
                <div class="form-field">
                    {{ form.operating_hours }}
                    {{ form.operating_hours.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.failure_unit.id_for_label }}" class="form-label">Failure Unit</label>
                <div class="form-field">
                    {{ form.failure_unit }}
                    {{ form.failure_unit.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.failure_description.id_for_label }}" class="form-label">Failure Description</label>
                <div class="form-field">
                    {{ form.failure_description }}
                    {{ form.failure_description.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.recovery_method.id_for_label }}" class="form-label">Recovery Method</label>
                <div class="form-field">
                    {{ form.recovery_method }}
                    {{ form.recovery_method.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.used_spare_parts.id_for_label }}" class="form-label">Used Spare Parts</label>
                <div class="form-field">
                    {{ form.used_spare_parts }}
                    {{ form.used_spare_parts.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.recovery_date.id_for_label }}" class="form-label">Recovery Date</label>
                <div class="form-field">
                    {{ form.recovery_date }}
                    {{ form.recovery_date.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.service_company.id_for_label }}" class="form-label">Service Company</label>
                <div class="form-field">
                    {{ form.service_company }}
                    {{ form.service_company.errors }}
                </div>
            </div>
            <div class="submit-button">
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
{% endblock %}
