# edit_service_record.html

{% extends 'landing_page.html' %}
{% load static %}

{% block header_1 %}

    {% block header_2 %}
        <div class="header-container">
            <div class="logo">
                <img id="logo" src="{% static 'logo/Logotype accent RGB 1.jpg' %}" alt="Logo" 
                     data-logged-in-url="{% url 'landing_page_logged_in' %}" 
                     data-logged-out-url="{% url 'landing_page' %}">
            </div>
            <input type="hidden" id="is-logged-in" value="{{ user.is_authenticated|yesno:'true,false' }}">
            <div class="contact-info" id="phone-number">Loading...</div>
            <div class="login-button"><a href="{% url 'logout' %}">{{ user_name }} / Logout</a></div>
        </div>
    {% endblock %}

{% endblock %}

{% block content %}
    <div class="main-title">Edit Service Record</div>
    <div class="info-text">Edit the details of the service record.</div>
    <div class="edit-record">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
    </div>
{% endblock %}

