<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silant Machinery</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="super-header">
            {% block superheader %}
            <div class="header-container">
                <div class="logo">Logo</div>
                <div class="contact-info">+78352 201209</div>
                <div class="login-button"><a href="{% url 'login' %}">Login</a></div>
            </div>
            {% endblock %}
            <div class="electronic-service-book">Electronic Service Book "My Silant"</div>
        </div>
    </header>
    <main>
        <div class="main-container">
         {% block content %}
            <div class="main-title">Check the equipment and technical specifications of Silant machinery</div>
            <form method="GET" action="{% url 'search' %}">
                <label>
                    <input type="text" name="serial_number" placeholder="Enter machine serial number">
                </label>
                <button type="submit">Search</button>
            </form>
            <div class="info-text">Information about the equipment and technical specifications of your machinery.</div>
            <div class="main-title main-title-search-results">Search Results:</div>
                {% if search_results %}
                    <div class="search-results">
                        
                        <ul>
                            {% for machine in search_results %}
                                <li>
                                    <strong>Serial Number:</strong> {{ machine.serial_number }}<br>
                                    <strong>Model:</strong> {{ machine.model.name }}<br>
                                    <strong>Engine Model:</strong> {{ machine.engine_model.name }}<br>
                                    <strong>Engine Serial Number:</strong> {{ machine.engine_serial_number }}<br>
                                    <strong>Transmission Model:</strong> {{ machine.transmission_model.name }}<br>
                                    <strong>Transmission Serial Number:</strong> {{ machine.transmission_serial_number }}<br>
                                    <strong>Drive Axle Model:</strong> {{ machine.drive_axle_model.name }}<br>
                                    <strong>Drive Axle Serial Number:</strong> {{ machine.drive_axle_serial_number }}<br>
                                    <strong>Steer Axle Model:</strong> {{ machine.steer_axle_model.name }}<br>
                                    <strong>Steer Axle Serial Number:</strong> {{ machine.steer_axle_serial_number }}<br>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
         {% endblock %}
    </main>
    <footer>
        <div class="footer-container">
            <div class="contact-info">+78352 201209</div>
            <div class="footer-text">My Silant 2022</div>
        </div>
    </footer>
</body>
</html>
