<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silant Machinery</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block header_1 %}
    <header>
        <div class="super-header">
            {% block header_2 %}
            <div class="header-container">
                <div class="logo">
                    <img src="../static/logo/Logotype accent RGB 1.jpg" alt="Logo">
                </div>
                <div class="contact-info" id="phone-number">Loading...</div>
                <div class="login-button"><a href="{% url 'login' %}">Login</a></div>
            </div>
            {% endblock %}
            <div class="electronic-service-book">Electronic Service Book <span id="app-name">Loading...</span></div>
        </div>
    </header>
{% endblock %}
    <main>
        <div class="main-container">
            {% block content %}
            <div class="main-title">Check the equipment and technical specifications of Silant machinery</div>
            <form method="GET" action="{% url 'search' %}">
                <label>
                    <input type="text" name="serial_number" placeholder="Enter machine serial number">
                </label>
                <button type="submit">Search</button>
            </form>
            <div class="main-title main-title-search-results">Search Results:</div>
            <div class="info-text">Information about the equipment and technical specifications of your machinery.</div>
            {% if search_results %}
            <div class="search-results">
                <table class="machine-table">
                    <thead>
                        <tr>
                            <th>Model</th>
                            <th>Engine</th>
                            <th>Transmission</th>
                            <th>Drive Axle</th>
                            <th>Steer Axle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for machine in search_results %}
                        <tr>
                            <td>{{ machine.model.name }}</td>
                            <td>{{ machine.engine_model.name }}</td>
                            <td>{{ machine.transmission_model.name }}</td>
                            <td>{{ machine.drive_axle_model.name }}</td>
                            <td class="steer-axel" onclick="window.location.href='{% url 'detailed_info' %}?serial_number={{ machine.serial_number }}'">
                                {{ machine.steer_axle_model.name }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endblock %}
    </main>
{% block footer %}
    <footer>
        <div class="footer-container">
            <div class="contact-info" id="footer-phone-number">Loading...</div>
            <div class="footer-text" id="footer-app-name">Loading...</div>
        </div>
    </footer>
{% endblock %}
{% block my_script %}
    <script src="{% static 'JS/dynamic_content.js' %}"></script>
{% endblock %}
</body>
</html>
