{% extends 'landing_page.html' %}
{% load static %}

{% block header_1 %}

    {% block header_2 %}
        <div class="header-container">
            <div class="logo">
                <img id="logo" src="{% static 'logo/Logotype accent RGB 1.jpg' %}" alt="Logo" 
                     data-logged-in-url="{% url 'landing_page_logged_in' %}" 
                     data-logged-out-url="{% url 'landing_page' %}">
                </div>
            <input type="hidden" id="is-logged-in" value="{{ user.is_authenticated|yesno:'true,false' }}">
            <div class="contact-info" id="phone-number">Loading...</div>
            <div class="login-button"><a href="{% url 'logout' %}">{{ user_name }} / Logout</a></div>
        </div>
    {% endblock %}
    
{% endblock %}

{% block content %}
    <div class="info-text">Client Name: {{ user_name }} </div>
    <div class="info-text">Information about the equipment and technical specifications of your machinery.</div>
               <div class="navigation-buttons">
                    <div id="general-info" class="green-button">General Information</div>                                   
                    <div id="technical-maintenance" class="to-buttons">Technical Maintenance</div>
                    <div id="claims" class="claims-buttons">Claims</div>
               </div>
    {% if user_machines %}
        <div class="search-results">
            <table class="machine-table">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Engine</th>
                        <th>Transmission</th>
                        <th>Drive Axle</th>
                        <th>Steer Axle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machine in user_machines %}
                        <tr>
                            <td class="machine-name" onclick="window.location.href='{% url 'technical_maintenance' %}?serial_number={{ machine.serial_number }}'">
                                {{ machine.model.name }}
                            </td>
                            <td>{{ machine.engine_model.name }}</td>
                            <td>{{ machine.transmission_model.name }}</td>
                            <td>{{ machine.drive_axle_model.name }}</td>
                            <td class="steer-axel" onclick="window.location.href='{% url 'detailed_info' %}?serial_number={{ machine.serial_number }}'">
                                {{ machine.steer_axle_model.name }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No machines found for your account.</p>
    {% endif %}
{% endblock %}

