{% extends 'landing_page.html' %}
{% load static %}
{% block header_1 %}
    {% block header_2 %}
        <div class="header-container">
            <div class="logo">
                <img id="logo" src="{% static 'logo/Logotype accent RGB 1.jpg' %}" alt="Logo"
                     data-logged-in-url="{% url 'landing_page_logged_in' %}"
                     data-logged-out-url="{% url 'landing_page' %}">
            </div>
            <input type="hidden" id="is-logged-in" value="{{ user.is_authenticated|yesno:'true,false' }}">
            <div class="contact-info" id="phone-number">Loading...</div>
            <div class="login-button"><a href="{% url 'logout' %}">{{ user_name }} / Logout</a></div>
        </div>
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="main-title">Technical Maintenance for {{ machine.model.name }} with Serial Number {{ machine.serial_number }} </div>
    <form method="GET" action="{% url 'technical_maintenance' %}">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form>
    <div class="info-text">Details of technical maintenance for your machinery.</div>
    <div class="navigation-buttons">
        <div id="general-info" class="general-info">General Information</div>
        <div id="technical-maintenance" class="green-button">Technical Maintenance</div>
        <div id="claims" class="claims-buttons">Claims</div>
    </div>
    <div class="search-results-detailed">
        <table class="maintenance-table">
            <thead>
                <tr>
                    <th>Maintenance Type</th>
                    <th>Maintenance Date</th>
                    <th>Operating Hours</th>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Service Company</th>
                </tr>
            </thead>
            <tbody>
                {% if maintenances_records %}
                    {% for record in maintenances_records %}
                        <tr {% if can_edit_or_add %} onclick="window.location.href='{% url 'edit_service_record' record.pk %}'" {% endif %}>
                            <td>{{ record.maintenance_type.name }}</td>
                            <td>{{ record.maintenance_date|date:"Y-m-d" }}</td>
                            <td>{{ record.operating_hours }}</td>
                            <td>{{ record.order_number }}</td>
                            <td>{{ record.order_date|date:"Y-m-d" }}</td>
                            <td>{{ record.service_company.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" style="text-align: center; color: gray;">No records found</td>
                    </tr>
                {% endif %}
                {% if can_edit_or_add %}
                    <tr onclick="window.location.href='{% url 'create_service_record' %}'">
                        <td colspan="6" style="text-align: center; color: gray;">Add new maintenance record</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
