<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Maintenance</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">Logo</div>
            <div class="contact-info">+78352 201209</div>
            <div class="login-button"><a href="{% url 'logout' %}">Logout</a></div>
        </div>
    </header>
    <main>
        <div class="main-container">
            <h1>Technical Maintenance</h1>
            {% if maintenances %}
                <ul>
                    {% for maintenance in maintenances %}
                        <li>
                            <strong>Maintenance Type:</strong> {{ maintenance.maintenance_type.name }}<br>
                            <strong>Maintenance Date:</strong> {{ maintenance.maintenance_date }}<br>
                            <strong>Operating Hours:</strong> {{ maintenance.operating_hours }}<br>
                            <strong>Order Number:</strong> {{ maintenance.order_number }}<br>
                            <strong>Order Date:</strong> {{ maintenance.order_date }}<br>
                            <strong>Service Company:</strong> {{ maintenance.service_company.name }}<br>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No maintenance records found for the given serial number.</p>
            {% endif %}
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="contact-info">+78352 201209</div>
            <div class="footer-text">My Silant 2022</div>
        </div>
    </footer>
</body>
</html>
